<h1>Factor Analisys</h1>

Técnica de redução de dimensionalidade e descoberta
de fatores latentes em um conjunto de variáveis.

<h3>Qual é o objetivo do Factor Analisys?</h3>
<ul>
    <li>Tentar explicar as correlações entre variáveis observadas através de um número reduzido de fatores ocultos (latentes).<br>
    Você tem muitas variáveis observadas → x1, x2, x3, ... Quer descobrir se elas podem ser explicadas por um número menor de fatores → f1, f2, ...</li>
    <li>Cada fator representa um conceito subjacente, que não é medido diretamente.</li>
</ul>
                       
<h3>Muito usada em:</h3>
<ul>
    <li>Ciências sociais (psicologia, sociologia, marketing)</li>
    <li>Pesquisa de mercado</li>
    <li>Economia</li>
    <li>Machine Learning (como parte do pré-processamento em alguns casos)   </li>
</ul>

<h2>Iniciando o ambiente</h2>

In [2]:
import numpy as np
import pandas as pd

import sklearn
from sklearn import datasets
from sklearn.decomposition import FactorAnalysis

<h2>Obtendo dataset de iris.data</h2>

In [3]:
df = pd.read_csv('iris.data.csv')
df.columns = ['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'Species']
df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           4.9          3.0           1.4          0.2  setosa
1           4.7          3.2           1.3          0.2  setosa
2           4.6          3.1           1.5          0.2  setosa
3           5.0          3.6           1.4          0.2  setosa
4           5.4          3.9           1.7          0.4  setosa

In [4]:
X = df[['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width']].values
X[:5]

array([[4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4]])

In [5]:
variable_names = df.columns.values
variable_names = np.delete(variable_names, 4)
variable_names

array(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width'],
      dtype=object)

<h2>criando e treinando o modelo</h2>

In [6]:
factor = FactorAnalysis().fit(X)

<h2>Analisando os resultados</h2>
Valores altos (positivos ou negativos) indicam forte associação.

In [19]:
df = pd.DataFrame(factor.components_, columns=variable_names)
df

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0      0.707089    -0.155467      1.649025     0.698661
1      0.115092     0.160055     -0.044791    -0.014181
2     -0.000000     0.000000      0.000000     0.000000
3     -0.000000     0.000000      0.000000    -0.000000