In [2]:
import numpy as np
import pandas as pd

In [3]:
cars = pd.read_csv('mtcars.csv')
cars = cars.rename(columns={'Unnamed: 0':'car_name'})
cars.head()

,car_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
# SUMMARY STATISTICS OBSERVATION
# -------------------------------

In [5]:
cars.sum(numeric_only=True)

mpg      642.900
cyl      198.000
disp    7383.100
hp      4694.000
drat     115.090
wt       102.952
qsec     571.160
vs        14.000
am        13.000
gear     118.000
carb      90.000
dtype: float64

In [6]:
cars.mean(numeric_only=True)

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [7]:
cars.median(numeric_only=True)

mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.710
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

In [8]:
cars.max()

car_name    Volvo 142E
mpg               33.9
cyl                  8
disp             472.0
hp                 335
drat              4.93
wt               5.424
qsec              22.9
vs                   1
am                   1
gear                 5
carb                 8
dtype: object

In [9]:
cars.min()

car_name    AMC Javelin
mpg                10.4
cyl                   4
disp               71.1
hp                   52
drat               2.76
wt                1.513
qsec               14.5
vs                    0
am                    0
gear                  3
carb                  1
dtype: object

In [10]:
cars.idxmax()

car_name    31
mpg         19
cyl          4
disp        14
hp          30
drat        18
wt          15
qsec         8
vs           2
am           0
gear        26
carb        30
dtype: int64

In [11]:
cars.idxmin()

car_name    22
mpg         14
cyl          2
disp        19
hp          18
drat         5
wt          27
qsec        28
vs           0
am           3
gear         3
carb         2
dtype: int64

In [12]:
cars = cars.set_index('car_name')
cars.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
car_name,,,,,,,,,,,
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [13]:
cars.idxmin()

mpg     Cadillac Fleetwood
cyl             Datsun 710
disp        Toyota Corolla
hp             Honda Civic
drat               Valiant
wt            Lotus Europa
qsec        Ford Pantera L
vs               Mazda RX4
am          Hornet 4 Drive
gear        Hornet 4 Drive
carb            Datsun 710
dtype: object

In [14]:
cars.mean()

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [15]:
cars['mpg'].min()

10.4

In [16]:
cars['mpg'].idxmin()

'Cadillac Fleetwood'

In [17]:
# SUMMARY STATISTICS DISTRIBUTION
# -------------------------------

In [18]:
cars.std()

mpg       6.026948
cyl       1.785922
disp    123.938694
hp       68.562868
drat      0.534679
wt        0.978457
qsec      1.786943
vs        0.504016
am        0.498991
gear      0.737804
carb      1.615200
dtype: float64

In [19]:
 cars.var()

mpg        36.324103
cyl         3.189516
disp    15360.799829
hp       4700.866935
drat        0.285881
wt          0.957379
qsec        3.193166
vs          0.254032
am          0.248992
gear        0.544355
carb        2.608871
dtype: float64

In [20]:
cars.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
car_name,,,,,,,,,,,
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [21]:
cars['gear'].count()

32

In [22]:
cars['gear'].value_counts()

gear
3    15
4    12
5     5
Name: count, dtype: int64

In [23]:
cars.carb.value_counts()

carb
4    10
2    10
1     7
3     3
6     1
8     1
Name: count, dtype: int64

In [24]:
cars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000